<!-- will have to figure out how all of this will be mapped to my actual projct, but that doesn't mean we can't use what i've gained from this tutorial -->
<h1>HI <%= name %> </h1>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Logout</button>
</form>