<h1>Login</h1>
<% if (messages.success) { %>
    <%= messages.success %>
<% } %>
<% if (messages.error) { %>
    <%= messages.error %>
<% } %>
<form action="/login" method="POST"> <!-- POST to a route with the name /register (NOT our server) -->

    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button> <!-- to submit form -->
</form>
<a href="/register">Register</a>
